*{
    margin: 0;
    padding: 0;
} 

header{
    background-image: url("../img/pattern.png");
} 

header img#logo{
   height: 20%;
   width: 20%;
}

.bluebg{
    background-color: cornflowerblue;
}

.lowopacity{
   background-color: rgba(12, 161, 241, 0.5);
}

.darkgray{
    color: darkgrey;
}

.bold{
    font-weight: bold;
}

span#writed-by{
    text-decoration: none;
    font-style: oblique;
}

span.highlighted{
    background-color: gold;
}

picture p{
    font-weight: 600;
}

main{
    margin: 1rem;
}

table{
    text-align: left;
}

th{
    width: 30%;
}


